<style>
    body {
        background: #FFB6C1;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #FFB6C1;
    }

    .profile-button {
        background: #FFB6C1;
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #682773
    }

    .labels {
        font-size: 11px
    }

  
  .qt-co {
    position: absolute;
    top: 7px;
    margin-left: -10px;
  }

  .product-co {
    position: relative;
    height: 50px;
    width: 50px;
  }
</style>
<script src="/js/login.js"></script>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    src="{{user.avatar}}" style="width: 90%;"><span
                    class="font-weight-bold mt-3">{{user.local.username}}</span></div>
        </div>
        <form method="POST" action="/users/{{user._id}}?_method=PUT" class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Chỉnh sửa hồ sơ</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Họ và Tên</label><input type="text"
                            class="form-control" value="{{user.name}}" id="name" name="name"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Số điện thoại</label><input type="text"
                            class="form-control" value="{{user.phone}}" id="phone" name="phone"></div>
                    <div class="col-md-12"><label class="labels">Địa chỉ</label><input type="text" class="form-control"
                            value="{{user.address}}" id="address" name="address"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control"
                            value="{{user.email}}" id="email " name="email"></div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Thành phố</label>
                        <select class="form-control" id="city" name="city">
                            <option>{{user.city}}</option>
                            <option>Hà Nội</option>
                            <option>Hải Phòng</option>
                            <option>Hạ Long</option>
                            <option>Lào Cai</option>
                            <option>Điện Biên</option>
                        </select>
                    </div>
                    <div class="col-md-6"><label class="labels">Avatar</label><input type="text" class="form-control"
                            value="{{user.avatar}}" id="avatar" name="avatar"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Lưu</button>
                </div>
            </div>
        </form>



    </div>
    <hr class="mb-4">
    {{# if orders}}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 main mb-4">
            <span>Sản Phẩm đã mua</span>
            {{#each orders}}
            <ul class="list-group">
                {{#each this.items}}
                <li class="list-group-item d-flex justify-content-between lh-condensed mt-4">
                    <div>

                        <img class="product-co" src="{{ this.item.img }}" alt="">
                        <span class="badge badge-secondary badge-pill qt-co">{{ this.qty }}</span>
                    </div>
                    <span class="text-muted">Tên mặt hàng: {{ this.item.name }}</span>
                    <span class="text-muted">Giá tiền: {{ this.cost }}M</span>
                </li>
                {{/each}}
                <li class="list-group-item list-group-item-success">Tổng số tiền đã chi: {{ this.totalcost }}M</li>
            </ul>
            {{/each}}
            {{ this.totalcost }}
        </div>
    </div>
    {{else}}
    <center >Giỏ hàng của bạn hiện đang trống</center> 
    <div class="empty mb-4 d-flex justify-content-center " >
        
        <img class="mb-4 mt-4" src="https://bizweb.dktcdn.net/100/199/161/themes/523118/assets/empty_cart.png" alt="Empty orders">

    </div>  
  
         <center > <a href="/"><button type="button" class="btn btn-lg btn-primary mb-4">Mua sắm nào</button></a></center>
 
           

    {{/if}}


</div>